.Header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: auto;
    border: 4px solid #000;
  }
  .Flex-container {
    display: flex;
    flex-direction: row;
  }
  .Content {
    justify-content: center;
    padding: 10px;
    height: 200px;
    width: 50%;    
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
  }
  
  .First-box__title-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .Content span {
    text-align: center;
    line-height: 30px;
    background-color: #444;
    width: 50px;
    height: 30px;
  }

  .First-box {
    border-right: 2px solid #000; 
  }
  .First-box p {
    margin: 0;
  }
  .Second-box {
    border-left: 2px solid #000; 
  }

  @media (min-width: 1136px) {
    .Content {
      height: 130px;
    }
  }
  
  @media (max-width: 1135px) {
    .Content {
      height: 180px;
    }
  }

  @media (max-width: 620px) {
    .Content {
      width: auto;
      height: 190px;
    }
    .Flex-container {
      display: flex;
      flex-direction: column;
    }
    .First-box {
      border-right: 4px solid #000; 
    }

    .Second-box {
      border-left: 4px solid #000; 
    }
  }